/* 메뉴 드롭박스 */
.drop{
	list-style: none;
	overflow: hidden;
	height: 0;
	opacity: 0;
}
#interview:hover .drop{
	display: block;
	height: 98px;
	opacity: 1;
	transition: all 0.5s;
}
.drop{
	padding-left: 0;
	padding-top: 8px;
}
.navbar-wooster .drop{
	background-color: #fff;
}
.drop li:hover{
	background-color: #eee;
}
.drop li{
	text-align: center !important;
}
.drop li a{
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

/* footer */
.bufs_link{
	display: block;
	width: 40px;
	height: 40px;
	background-size: cover;
	background-image: url('../img/rogo/bufs_w.png');
}
.bufs_link:hover{
	border: 1px solid #fff;
	background-image: url('../img/rogo/bufs_b.png');
}

/* 슬라이드 애니메이션 */
.wrap1,.wrap2 { 
    display: flex; 
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.wrap1 .rolling-list1 ul,
.wrap2 .rolling-list2 ul { 
    display: flex;
    margin: 0;
    padding: 0;
}
.rolling-list1,
.rolling-list2{
    margin-bottom: -5px;
}
.wrap1 .rolling-list1 ul li,
.wrap2 .rolling-list2 ul li { 
    display: flex; 
    align-items: center; 
    flex-shrink: 0; 
}
.wrap1 .rolling-list1 ul li .image-wrap,
.wrap2 .rolling-list2 ul li .image-wrap { 
    flex-shrink: 0; 
}
.slide .image-wrap img{
	width: 400px;
}

.rolling-list1.original {
    animation: rollingleft1 33s linear infinite;
}
.rolling-list1.clone {
	animation: rollingleft2 33s linear infinite;
}
.rolling-list2.original {
    animation: rollingleft1 33s linear infinite reverse;
}
.rolling-list2.clone {
	animation: rollingleft2 33s linear infinite reverse;
}

@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}
@keyframes rollingleft2 {
	0% { transition: translateX(0%); }
	100% { transform: translateX(-200%); }
}

/* about */
#about{
	margin-top: 45px;
}
.about .drop{
	background-color: #fff;
}
#hg:hover .bg, #hr:hover .bg, #hj:hover .bg, #yc:hover .bg
{
   background-color: rgba(255, 255, 255, 0.9);
   display: block;
}
#hg .bg, #hr .bg, #hj .bg, #yc .bg
{
   display: none;
   width: 90%;
   height: 100%;
   position: absolute;
   z-index: 300;
}
#hg, #hr, #hj, #yc
{
   position: relative;
}

/* qna */
.QnA a{
	font-size: 1.1em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 0;
	display: block;
}
.QnA a{
	text-decoration: none;
}

.row{
	position: relative;
	width: 100%;
	margin-left: 0;
}
.question {
	position: relative;
	padding: 10px 10px 10px 20px;
}
.question p{
	font-weight: bold;
}
.QnA .question.even {
	background-color: rgba(255,255,255,0.9);
}
.QnA .question.odd {
	background-color: rgba(230,230,230,0.9);
}


.answer{
	opacity: 0;
	display: none;
}
.wipe_out{
	display: block;
}
.exit:not(.nav .exit){
	display: none;
	position: absolute;
	top: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
}
.exit span{
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 1px;
	border: 1px solid #888;
}
.exit span:first-child{
	transform: rotate(45deg);
}
.exit span:last-child{
	transform: rotate(-45deg);
}

.link_responsive{
	position: fixed;
	z-index: 1000;
}
.interview_link{
	position: fixed;
	z-index: 3000;
}
.interview_link a{
	text-decoration: none;
}
.interview_link span{
	font-weight: bold;
	font-family: 'Lato', sans-serif;
}
.interview_link img{
	position: absolute;
}

/* epilogue */
.comment{
	border: 1px solid #000;
	padding: 10px;
	background-color: #fff;
	border-radius: 1px;
}
.comment_left{
	margin-left: 130px;
}
.comment_right{
	margin-right: 130px;
}
.comment .tail{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #fff;
	transform: rotate(45deg);
	border-radius: 1px;
	top: 30px;
}
.comment .tail_left{
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	left: 135px;
}
.comment .tail_right{
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	right: 135px;
}

/* 본문 */
a {
	color: #000;
}

a:hover, a:focus{
	color: #000;
}

p{
	margin-bottom: 40px;
}

p,h6, address{
	font-family: 'Lato', sans-serif;
	color: #777;
}

h1,h2,h3,h4,h5,h6{
	text-transform: uppercase;
}
header{
	height: 800px;
	text-align: center;
	margin-bottom: 0;
	position: relative;
	background-image: url(../img/header0.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

section{
	padding: 50px 0;
}

section.no-padding{
	padding: 0;
}

figure{
	margin-bottom: 30px;
}

.container{
	position: relative;
}

.form-control{
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	border-color: #8a8587;
	padding: 14px;
	font-size: 13px;
	height: auto;
	margin-bottom: 25px;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}



textarea.form-control{
	height: 195px;
}

.title{
	text-align: center;
}
.title-left{
	text-align: left;
}

.title p{
	padding: 50px;
}

.section-text{
	padding: 50px 0;
}

.navbar-header{
	height: 90px;
}

.navbar-wooster{
	background: #fff;
	height: 70px;
}

.navbar-wooster .navbar-brand{
	padding-top: 8px;
}

.navbar-wooster .navbar-brand img{
	height: 50px;
}

.navbar-wooster .primary-menu{
	margin-top: 0;
	margin-left: -15px;
	margin-right: -15px;
}

.navbar-wooster .navbar-collapse{
	background-color: #fff;
}

.navbar-wooster .navbar-header{
	height: 50px;
}

.navbar-toggle{
	display: block !important;
	margin-top: 20px;
}

.navbar-toggle .icon-bar{
	background: #000;

}

.main-head h1{
	font-size: 45px;
	position: relative;
	line-height: 1.4em;
	margin-bottom: 40px;
}

#logo{
	font-family: 'Borel', cursive !important;
	font-size: 5em;
	font-weight: bold;
	z-index: 30;
	position: absolute;
	top: 38px;
}
.navbar-wooster #logo{
	font-size: 4em;
}

.main-head span{
	margin-bottom: 20px;
	margin-top:20px;
	font-size: 13px;
	display: block;

}

.main-head{
	text-transform: uppercase;
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
}



.divider{
	width: 80px;
	background: #000;
	height: 1px;
	display: block;
	margin:20px auto;
}

.divider.divider-sm{
	width: 40px;
	margin: 20px 0;
}

.divider.divider-lg{
	width: 180px;
}

.btn{
	border-radius: 0;
	font-size: 13px;
	padding: 15px 40px;
	transition: all 0.3s;
}

.btn-lg{
	padding: 25px 50px;
}

.btn-lg.btn-primary{
	border-width: 2px;
}

.btn-primary{
	background: transparent;
	border:1px solid #000;
	color: #000;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus{
	background: #000;
	color: #fff;
	border-color:#000;
}

.call-to-action{
	background: #000;
	color: #fff;
	padding: 50px 0;
}

.video{
	background-image: url(../img/keyboard.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	color: #fff;
	position: relative;
}

.video-wrapper{
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video .fa{
	font-size: 70px;
	color: #fff;
}

.centred-container{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	-o-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.video h3{
	margin-bottom: 30px;
}
.video .glyphicon{
	font-size: 70px;
}


/**********************
PORTFOLIO
***********************/
.portfolio,
.portfolio p{
	font-family: 'Zen Kaku Gothic New', sans-serif;
}
.centered-pills {
	text-align: center;
}
.centered-pills ul.nav-pills {
	display: inline-block;
	margin-bottom: 50px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}
.centered-pills li {
	display: inline;
}
.centered-pills a {
	float: left;
}

.nav-pills > li > a{
	border-radius: 0;
	color: #000;
	border:1px solid #000;
	margin-right: 20px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a.active{
	background: #000	;
	border-color: #000;
	color: #fff;
}

#portfolio-grid .mix{
	display: none;
}

/******
TESTIMONIAL
**********/
.testimonial{
	
	background: url(../img/keyboard.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}

.mask{
	width: 100%;
	height: 100%;
	display: block;
	background: rgba(0,0,0,0.7);
	
}

.single-testimonial{
	padding: 80px 0;
	text-align: center;

}

.single-testimonial .fa{
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: #000;
	margin-bottom: 30px;
	line-height: 50px;
	text-align: center;
	border-radius: 100%;
}

.testimonial p{
	font-size: 17px;
	text-transform: uppercase;
	color: #fff;
}

.testimonial h6{
	color: #fff;
}

.team-member{
	position: relative;
	margin-bottom: 70px;
}

.team-member h6{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: #fff;
	margin: 0;
	text-align: center;
	padding: 30px 0;
}


.subscribe-input{
	text-align: left;
	width: 100%;
	border: 0 none;
	background: transparent;
	opacity: 0.9;
	border: 1px solid #fff;
	padding: 14px;
}

.btn-cta{
	background-color: #fff;
	border: 1px solid #fff;
	color: #000;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	padding: 15px 25px;
	text-transform: uppercase;
	width: 100%;
}

address{
	text-align: center;
	margin-bottom: 70px;
}

address .fa{
	display: block;
	font-size: 33px;
	margin-bottom: 20px;
}
/**FOOTER**/
footer{
	background: #000;
	padding: 80px 0;
}

footer,
footer p{
	color: #fff;
}

footer a{
	color: #fff;
	font-weight: bold;
}

footer a:hover{
	color: #fff;
	text-decoration: underline;
}


.logo-footer{
	margin-bottom: 40px;
}

/*******************************
SOCIAL ICONS
******************************/
ul.social{
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}

ul.social li{
	display: inline-block;
	width: 30px;

}

ul.social li a{
	text-decoration: none;

}


ul.social li a i{
	color: #fff;
	width: 32px;
	height: 32px;
	display: block;
	line-height: 32px;
	text-align: center;
	border-radius: 100%;
	-webkit-transition: all 0.5;
	transition: all 0.5s;
}


ul.social li a i:hover,
ul.social li a i:focus{
	
	background-color: #fff;
	color: #000;

}


/*****************************
RESPONSIVE
******************************/
@media (min-width: 768px){
	.primary-menu{
		position: relative;
		overflow: visible;
		margin-top: 18px;
	}

	.primary-menu .navbar-nav{
		right: -75%;
		position: absolute;
		margin-top: 12px;
		opacity: 0;
		transition: 300ms all ease-in-out;
		letter-spacing: 2px;
	}

	.primary-menu:hover .navbar-nav{
		right: 50px;
		opacity: 1;
	}

	#profile_img{
		margin-left: 10%;
	}
	#profile_img img{
		width: 200px;
		float: right;
	}
	#profile_name{
		width: 500px;
	}
}

@media (max-width: 767px){
	.responsive_nav{
		transform: translateY(170px);
		transition: all 0.5s ease-in-out;
	}
	.responsive_nav_fixed{
		transform: translateY(0px);
		transition: all 0.5s ease-in-out;
	}
	.navbar-toggle{
		margin-top: -45px;
	}

	.navbar-wooster .navbar-toggle{
		margin-top: -25px;
		padding: 0;
	}
	#logo{
		margin-left: -50%;
	}
	.drop{
		padding-top: 0;
	}

	#portfolio{
		margin-top: 20px;
	}

	.profile{
		width: 100%;
		margin: auto;
	}
	#profile_img img{
		float: none;
		width: 100%;
	}
}

@media (min-width: 1400px){
	.interview_link{
		top: 40%;
	}
	.interview_link span{
		padding: 0 5px 0 20px;
		letter-spacing: 2px;
		top: 50px;
		writing-mode: vertical-rl;
	}
	.interview_link img{
		width: 15px;
		height: 40px;
		top: 40px;
	}
	#link_prev{
		left: 5%;
	}
	#link_prev img{
		transform: rotate(180deg);
	}
	#link_next{
		right: 5%;
	}
	#link_prev:hover{
		transform: translate(-10px);
		transition: all 0.3s;
	}
	#link_next:hover{
		transform: translate(10px);
		transition: all 0.3s;
	}
}
@media (max-width: 1399px){
	.link_responsive{
		bottom: 0;
		height: 60px;
		width: 100%;
		background-color: #fff;
	}
	.interview_link{
		bottom: 0;
		margin: 20px 0;
	}
	.interview_link span{
		padding: 0 5px 0 20px;
		letter-spacing: 2px;
		top: 50px;
	}
	.interview_link img{
		width: 11px;
		height: 20px;
	}
	#link_prev{
		left: 3%;
	}
	#link_prev img{
		transform: rotate(180deg);
	}
	#link_next{
		right: 5%;
	}
	#link_prev:hover{
		transform: translate(-10px);
		transition: all 0.3s;
	}
	#link_next:hover{
		transform: translate(10px);
		transition: all 0.3s;
	}
}